.main{
  font-size: 16px;
  height: 100%;
}

.main h1 {
	font-size: 36px;

	margin-bottom: 2em;
}

.filter{
  padding: 2rem 0em;
  display: flex;
  flex-direction: row;
}

.filter div{
  display: flex;
  flex: 0.33 1;
}