.table {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.table table {
  border-collapse: separate;
  border-spacing: 0 2em;
	width: 100%;
}

.table thead:after {
	line-height: 1em;
	content: '\200C';
	display: block;
}

.table th {
	font-weight: normal;
	color: #1e5f74;
	text-align: left;
}
